<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Something 1</li>
                <li class="list-group-item">Something 2</li>
                <li class="list-group-item">Something 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=campground.image%>">
                <div class="caption-full">
                    <h4 class="pull-right">$10/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                </div>
            </div>
        </div>
    </div>
</div>



<% campground.comments.forEach(function(comment) { %>
    <p><strong><%= comment.author %></strong> ----- <%= comment.text %></p>
<% }); %>
<p>
    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add A New Comment?</a>
    <a class="btn btn-success" href="/campgrounds">Back To Campgrounds</a>
</p>
<% include ../partials/footer %>